{{- $c := index .palettes .theme -}}
return {
  base = "{{ $c.base }}",
  fg = "{{ $c.fg }}",
  yellow = "{{ $c.yellow }}",
  cyan = "{{ $c.cyan }}",
  surface1 = "{{ $c.surface1 }}",
  surface2 = "{{ $c.surface2 }}",
  surface3 = "{{ $c.surface3 }}",
  surface4 = "{{ $c.surface4 }}",
  surface5 = "{{ $c.surface5 }}",
  bg = "{{ $c.bg }}",
  cursor = "{{ $c.cursor }}",
  cursor_text = "{{ $c.cursor_text }}",
  selection = "{{ $c.selection }}",
  black = "{{ $c.black }}",
  red = "{{ $c.red }}",
  green = "{{ $c.green }}",
  blue = "{{ $c.blue }}",
  magenta = "{{ $c.magenta }}",
  white = "{{ $c.white }}",
  bright_black = "{{ $c.bright_black }}",
}
