{
  "$schema": "https://opencode.ai/v2/cli.json",
  "theme": {
    "name": "current",
    "mode": "system"
  },
  "plugins": [
    "{{ .chezmoi.homeDir }}/.config/opencode/cli-plugins/context-footer"
  ],
  "keybinds": {
    "app.exit": "none",
    "command.palette.show": "alt+p",

    "prompt.editor": "ctrl+o",
    "agent.cycle": "alt+m",

    "diff.page.up": "none",
    "diff.page.down": "none",
    "session.first": "none",
    "terminal.suspend": "none",
    "session.background": "none",
    "agent.cycle.reverse": "none",

    "session.half.page.up": "ctrl+alt+u",
    "session.half.page.down": "ctrl+alt+d",
    "session.messages_last_user": "ctrl+g",
    "session.last": "ctrl+alt+g,end",

    "input.move.up": "ctrl+p",
    "input.move.down": "ctrl+n",
    "input.undo": "ctrl+z,ctrl+-",
    "input.redo": "ctrl+shift+z,ctrl+.",
    "prompt.history.previous": "ctrl+p",
    "prompt.history.next": "ctrl+n"
  },
  "session": {
    "sidebar": "hide",
    "thinking": "hide",
    "scrollbar": false,
    "grouping": "none",
    "verbosity": "medium",
    "tps": true,
    "new_location": "launch"
  },
  "mini": {
    "work_spinner": "seed",
    "thinking": "show",
    "tools": "show",
    "shell_output": "show",
    "mono": true
  },
  "animations": true,
  "tabs": {
    "mode": "off",
    "layout": "horizontal"
  },
  "scroll": {
    "speed": 1
  },
  "attention": {
    "sound": true,
    "notifications": false,
    "volume": 1,
    "sounds": {
      "default": "{{ .chezmoi.homeDir }}/.config/opencode/sounds/chime.wav",
      "question": "{{ .chezmoi.homeDir }}/.config/opencode/sounds/sparkle.wav",
      "permission": "{{ .chezmoi.homeDir }}/.config/opencode/sounds/page.wav",
      "error": "{{ .chezmoi.homeDir }}/.config/opencode/sounds/error.wav",
      "done": "{{ .chezmoi.homeDir }}/.config/opencode/sounds/success.wav",
      "subagent_done": "{{ .chezmoi.homeDir }}/.config/opencode/sounds/droplet.wav"
    }
  },
  "prompt": {
    "image_preview": false
  },
  "terminal": {
    "title": false,
    "copy": "select"
  }
}
