[init]
	defaultBranch = "main"

[core]
  pager = delta

[interactive]
  diffFilter = delta --color-only

[include]
    path = ~/.gitconfig.delta

[delta]
  features = neovim-default
  max-line-length = 0
  line-numbers = true
  navigate = true

[merge]
  conflictstyle = diff3
	tool = nvimdiff

[user]
  name = "and-rs"
  email = "deserd@protonmail.com"

[credential "https://github.com"]
	helper = 
	useHttpPath = true
	helper = !/run/current-system/sw/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper = 
	helper = !/run/current-system/sw/bin/gh auth git-credential

[credential "https://gitlab.com"]
	helper =
	helper = !/run/current-system/sw/bin/glab auth git-credential
