# hide aichat things
.env
messages.md
models-override.yaml
.config/aichat/rags
.config/aichat/sessions
.config/aichat/messages
.config/aichat/functions/bin
.config/aichat/functions/cache

app.log
.DS_Store
.qmlls.ini
qml-niri

_direnv_hook.zsh
_uv_completion.zsh
_zoxide_init.zsh

.git
.config/yazi/plugins

fast-syntax-highlighting
zsh-syntax-highlighting
zsh-autosuggestions
powerlevel10k
zsh-defer
fzf-tab
forgit

.zcompdump
.zcompdump.zwc
