[init]
	defaultBranch = "main"

[core]
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  max-line-length = 0
  line-numbers = true
  navigate = true
  minus-style                   = syntax "#3f2d3d"
  minus-non-emph-style          = syntax "#3f2d3d"
  minus-emph-style              = syntax "#763842"
  minus-empty-line-marker-style = syntax "#3f2d3d"
  line-numbers-minus-style      = "#914c54"
  plus-style                    = syntax "#283b4d"
  plus-non-emph-style           = syntax "#283b4d"
  plus-emph-style               = syntax "#316172"
  plus-empty-line-marker-style  = syntax "#283b4d"
  line-numbers-plus-style       = "#449dab"
  line-numbers-zero-style       = "#3b4261"

; light mode
; [delta]
;   max-line-length = 0
;   line-numbers = true
;   navigate = true
;   minus-style                   = syntax "#E7C8D5"
;   minus-non-emph-style          = syntax "#E7C8D5"
;   minus-emph-style              = syntax "#EDADC2"
;   minus-empty-line-marker-style = syntax "#EDADC2"
;   line-numbers-minus-style      = "#C41C46"
;   plus-style                    = syntax "#CCDBE2"
;   plus-non-emph-style           = syntax "#CCDBE2"
;   plus-emph-style               = syntax "#B6D4DC"
;   plus-empty-line-marker-style  = syntax "#B6D4DC"
;   line-numbers-plus-style       = "#449dab"
;   line-numbers-zero-style       = "#8187B1"

[merge]
  conflictstyle = diff3
	tool = nvimdiff

[user]
  name = "and-rs"
  email = "deserd@protonmail.com"

[credential "https://github.com"]
	helper = 
	useHttpPath = true
	helper = !/run/current-system/sw/bin/gh auth git-credential

[credential "https://gist.github.com"]
	helper = 
	helper = !/run/current-system/sw/bin/gh auth git-credential

[credential "https://gitlab.com"]
	helper =
	helper = !/run/current-system/sw/bin/glab auth git-credential
