app.log
.DS_Store
.qmlls.ini
qml-niri

_direnv_hook.zsh
_uv_completion.zsh
_zoxide_init.zsh

.git
**/plugins

fast-syntax-highlighting
zsh-syntax-highlighting
zsh-autosuggestions
powerlevel10k
zsh-defer
fzf-tab
forgit

.zcompdump
.zcompdump.zwc
