* {
  font-family: "Input Mono";
  font-size: 12.5px;
  font-weight: 500;
}

window {
  background-color: rgba(0, 0, 0, 0.8);
  transition-property: background-color;
  transition-duration: 0.5s;

  /* border: 2px solid #707070; */
  border-radius: 8px;
}

tooltip {
  background-color: #101010;
  border: 2px solid #808080;
}

tooltip label {
  color: white;
  margin: 5px;
}

#window {
  margin: 0 0 0 8;
}

#backlight,
#pulseaudio,
#tray,
#cpu,
#memory,
#disk,
#battery {
  margin: 0 0 0 0;
  padding: 0 6 0 4;
  color: white;
}

#clock,
#temperature,
#network,
#wireplumber,
#custom-media,
#mode,
#idle_inhibitor,
#scratchpad,
#systray,
#mpd {
  margin: 0 0 0 0;
  padding: 0 3 0 3;
  color: white;
}

@keyframes blink-workspace {
  to {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 800;
  }
}

#workspaces {
  color: rgba(255, 255, 255, 1);
}

#workspaces button {
  transition: all 0.4s ease-out;
  animation-timing-function: steps(12);
  min-height: 16px;
  min-width: 16px;

  border: solid #707070 2px;
  border-radius: 4px;

  padding: 0 1 0 1;
  margin: 6 0 6 6;
  color: #101010;
  background-color: #707070;
}

#workspaces button.active {
  animation-duration: 0.1s;
  animation-timing-function: steps(12);

  color: #101010;
  background-color: #989898;
  border: solid #989898 2px;

  padding: 0 16 0 16;
}

#workspaces button.urgent {
  animation-duration: 0.5s;
  animation-timing-function: steps(12);

  color: #606060;
  font-weight: 800;
  animation-name: blink-workspace;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#workspaces button.empty {
  animation-duration: 0.5s;
  animation-iteration-count: 4;
  animation-direction: alternate;
  animation-name: blink-workspace;
  animation-timing-function: steps(12);

  color: #606060;
  background-color: #202020;
  border: solid #606060 2px;
}

#workspaces button.occupied {
  background-color: #202020;
}

#pulseaudio.muted {
  color: rgba(220, 50, 47, 1);
}

#battery.charging,
#battery.plugged {
  color: rgba(137, 206, 0, 1);
}

@keyframes blink-battery {
  to {
    color: rgba(255, 255, 255, 1);
  }
}

#battery.warning:not(.charging) {
  animation-duration: 0.5s;
  animation-name: blink-battery;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: steps(12);

  color: rgba(255, 193, 0, 1);
}

#battery.critical:not(.charging) {
  animation-duration: 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: steps(12);

  color: rgba(245, 60, 60, 1);
  animation-name: blink-battery;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: rgba(235, 77, 75, 1);
}

#custom-power {
  color: rgba(255, 255, 255, 1);
  border: 0.19em solid rgba(246, 82, 79, 1);
  background-color: rgba(0, 43, 54, 0.7);
  color: rgba(245, 60, 60, 1);
}
