* {
  font-family: "Input Mono";
  font-size: 12.5px;
  font-weight: 500;
}

window {
  background-color: rgba(7, 9, 13, 0.99);
  transition-property: background-color;
  transition-duration: 0.5s;

  border: 2px solid #1a1b26;
  border-radius: 8px;
}

tooltip {
  background-color: #101010;
  border: 2px solid #808080;
}

tooltip label {
  color: white;
  margin: 5px;
}

#window,
#backlight,
#pulseaudio,
#tray,
#cpu,
#memory,
#disk,
#battery {
  margin: 0px 0px 0px 0px;
  padding: 0px 6px 0px 8px;
  color: white;
}

#clock,
#temperature,
#network,
#wireplumber,
#custom-media,
#mode,
#idle_inhibitor,
#scratchpad,
#systray,
#mpd {
  margin: 0px 0px 0px 0px;
  padding: 0px 3px 0px 3px;
  color: white;
}

@keyframes blink-workspace {
  to {
    color: #1a1b26;
    font-weight: 800;
  }
}

#workspaces {
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
}

#workspaces button {
  transition: all 0.4s ease-out;
  animation-timing-function: steps(12);
  min-height: 16px;
  min-width: 16px;

  background: #2d324e;
  color: #e9eaef;

  border: 2px;
  border-style: solid;
  border-color: #2d324e;

  border-radius: 4px;
  padding: 0px 1px 0px 1px;
  margin: 6px 0px 6px 6px;
}

#workspaces button.active {
  background: linear-gradient(0deg, #4a5382 0%, #252941 120%);
  border-color: #525b8e;
  padding: 0px 16px 0px 16px;
}

#workspaces button.empty {
  color: #abaec4;
  background: #1a1b26;
  border-color: #1a1b26;
}

#workspaces button.urgent {
  color: #9ece6a;
  animation-direction: alternate;
  animation-name: blink-workspace;
  animation-iteration-count: infinite;
}

#pulseaudio.muted {
  color: #f7768e;
}

#battery.charging,
#battery.plugged {
  color: #9ece6a;
}

@keyframes blink-battery {
  to {
    color: #1a1b26;
  }
}

#battery.warning:not(.charging) {
  color: #e0af68;
  animation-name: blink-battery;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 0.5s;
}

#battery.critical:not(.charging) {
  color: #f7768e;
  animation-name: blink-battery;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 0.5s;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #f7768e;
}
