configuration {
    location: 0;
    show-icons: false;
    terminal: "kitty";

    drun-display-format: "{name}";
    display-calc: "Calc";
    display-drun: "Apps";
    display-run: "Command";
    display-window: "Windows";
    sidebar-mode: true;
}

@theme "./monochrome.rasi"
