spawn-at-startup "keyd-application-mapper"
spawn-at-startup "xwayland-satellite"
spawn-at-startup "swww-daemon"
spawn-at-startup "waybar"

// no decorations
prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

overview {
    backdrop-color "#252941"
}

output "eDP-1" {
    scale 1.666666
    backdrop-color "#252941"
}

hotkey-overlay {
    skip-at-startup
}

environment {
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    DISPLAY ":0"
    WAYLAND "1"
}

cursor {
    xcursor-theme "macOS"
    xcursor-size 24
    hide-when-typing
}

input {
    warp-mouse-to-focus

    keyboard {
        repeat-delay 200
        repeat-rate 34
    }

    touchpad {
        tap
        dwt
        dwtp
        drag-lock
        natural-scroll
        accel-speed 0.1
        accel-profile "flat"
        scroll-factor 0.1
        middle-emulation
    }

    mouse {
        accel-profile "flat"
    }
}

layout {
    gaps 8
    tab-indicator {
        off
    }

    default-column-width { proportion 0.5; }
    center-focused-column "never"
    preset-column-widths {
        proportion 0.50
        proportion 0.8
        proportion 1.0

    }

    focus-ring {
        off
    }

    border {
        width 2
        inactive-color "#1a1b26"
        active-gradient from="#1a1b26" to="#525b8e" angle=180 relative-to="workspace-view"
        // inactive-gradient from="#000000" to="#101010" angle=100 relative-to="workspace-view"
    }

    shadow {
        spread 0
        softness 8
        offset x=0 y=2
        color "#525b8e"
        draw-behind-window true
    }
}

workspace "1"
workspace "2"
workspace "3"
workspace "4"

window-rule {
    open-maximized true
}

window-rule {
    match app-id="com.mitchellh.ghostty"
    match app-id="obsidian"
    open-on-workspace "1"
}

window-rule {
    match app-id="zen-beta"
    match app-id="google-chrome"
    match app-id="spotify"
    open-on-workspace "2"
}

window-rule {
    match app-id="vesktop"
    open-on-workspace "3"
}

window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    block-out-from "screencast"
    open-on-workspace "3"
}

window-rule {
    match app-id=".virt-manager-wrapped"
    open-on-workspace "4"
}

layer-rule {
    match namespace="^dunst$"
    block-out-from "screencast"
}

window-rule {
    geometry-corner-radius 6
    clip-to-geometry true
}

binds {
    XF86AudioPlay        allow-when-locked=true { spawn "playerctl" "play-pause"; }
    XF86AudioNext        allow-when-locked=true { spawn "playerctl" "next"; }
    XF86AudioPrev        allow-when-locked=true { spawn "playerctl" "previous"; }

    XF86AudioMute        cooldown-ms=200 { spawn "~/scripts/volume/vol_mute.sh"; }
    XF86AudioMicMute     cooldown-ms=200 { spawn "~/scripts/volume/mic_mute.sh"; }
    XF86AudioRaiseVolume cooldown-ms=55 allow-when-locked=true { spawn "~/scripts/volume/vol_up.sh"; }
    XF86AudioLowerVolume cooldown-ms=55 allow-when-locked=true { spawn "~/scripts/volume/vol_down.sh"; }

    XF86MonBrightnessUp   { spawn "~/scripts/brightness/scr_brightness_up.sh"; }
    XF86MonBrightnessDown { spawn "~/scripts/brightness/scr_brightness_down.sh"; }
    XF86KbdBrightnessUp   { spawn "~/scripts/brightness/kbd_brightness_up.sh"; }
    XF86KbdBrightnessDown { spawn "~/scripts/brightness/kbd_brightness_down.sh"; }

    Alt+Return      { spawn "ghostty"; }
    Alt+Space       { spawn "~/.config/rofi/launch-rofi.sh"; }

    Alt+Q           { close-window; }
    Alt+Shift+Slash { show-hotkey-overlay; }

    Alt+G       { toggle-window-floating; }
    Alt+Shift+G { switch-focus-between-floating-and-tiling; }

    Alt+O       { switch-layout "next"; }
    Alt+Shift+O { switch-layout "prev"; }

    Alt+S       { switch-preset-column-width; }
    Alt+Ctrl+S  { reset-window-height; }
    Alt+Shift+S { switch-preset-window-height; }

    Alt+H allow-inhibiting=false { focus-column-left; }
    Alt+J allow-inhibiting=false { focus-window-down; }
    Alt+K allow-inhibiting=false { focus-window-up; }
    Alt+L allow-inhibiting=false { focus-column-right; }

    Alt+Shift+H { move-column-left; }
    Alt+Shift+J { move-window-down; }
    Alt+Shift+K { move-window-up; }
    Alt+Shift+L { move-column-right; }

    Alt+1 allow-inhibiting=false { focus-workspace 1; }
    Alt+2 allow-inhibiting=false { focus-workspace 2; }
    Alt+3 allow-inhibiting=false { focus-workspace 3; }
    Alt+4 allow-inhibiting=false { focus-workspace 4; }
    Alt+5 allow-inhibiting=false { focus-workspace 5; }

    Alt+Shift+1 { move-column-to-workspace 1; }
    Alt+Shift+2 { move-column-to-workspace 2; }
    Alt+Shift+3 { move-column-to-workspace 3; }
    Alt+Shift+4 { move-column-to-workspace 4; }
    Alt+Shift+5 { move-column-to-workspace 5; }

    Alt+Shift+Page_Down { move-workspace-down; }
    Alt+Shift+Page_Up   { move-workspace-up; }
    Alt+Ctrl+Equal      { move-workspace-down; }
    Alt+Ctrl+Minus      { move-workspace-up; }

    Alt+WheelScrollUp         cooldown-ms=150 { focus-workspace-up; }
    Alt+WheelScrollDown       cooldown-ms=150 { focus-workspace-down; }
    Alt+WheelScrollRight      { focus-column-right; }
    Alt+WheelScrollLeft       { focus-column-left; }
    Alt+Ctrl+WheelScrollRight { move-column-right; }
    Alt+Ctrl+WheelScrollLeft  { move-column-left; }

    Alt+Shift+WheelScrollDown { focus-column-right; }
    Alt+Shift+WheelScrollUp   { focus-column-left; }

    Alt+BracketLeft  { consume-or-expel-window-left; }
    Alt+BracketRight { consume-or-expel-window-right; }

    Alt+Comma  { consume-window-into-column; }
    Alt+Period { expel-window-from-column; }

    Alt+Minus       { set-column-width "-10%"; }
    Alt+Equal       { set-column-width "+10%"; }
    Alt+Shift+Minus { set-window-height "-10%"; }
    Alt+Shift+Equal { set-window-height "+10%"; }

    Alt+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
    Alt+Shift+P { power-off-monitors; }

    Alt+U       allow-inhibiting=false { screenshot; }
    Alt+Ctrl+U  allow-inhibiting=false { screenshot-screen; }
    Alt+Shift+U allow-inhibiting=false { screenshot-window; }
}

animations {
    slowdown 0.6

    workspace-switch {
        // off
        spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
    }

    horizontal-view-movement {
        // off
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }
}
