spawn-at-startup "swww-daemon"
spawn-sh-at-startup "$HOME/.config/quickshell/launch.sh"
spawn-at-startup "hypridle"
spawn-at-startup "xrdb -merge ~/.Xresources"
// xwayland-satellite {
//     path "/home/and-rs/Vault/dev/xwayland-satellite/result/bin/xwayland-satellite"
// }
// no decorations
//
prefer-no-csd
screenshot-path "~/Pictures/Screenshots/screenshot-at-%Y-%m-%d-%H-%M-%S.png"
overview {
    zoom 0.6
    backdrop-color "#1b1e25"
    workspace-shadow {
        off
    }
}
output "eDP-1" {
    scale 1.666
    backdrop-color "#1b1e25"
}
hotkey-overlay {
    skip-at-startup
}
environment {
    QT_QPA_PLATFORM "wayland"
    QT_QPA_PLATFORMTHEME "qt6ct"
    QT_AUTO_SCREEN_SCALE_FACTOR "0"
    QT_ENABLE_HIGHDPI_SCALING "0"
    QT_SCREEN_SCALE_FACTORS "1"
    QT_WAYLAND_FORCE_DPI "100"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    PROTON_ENABLE_WAYLAND "1"
    DISPLAY ":0"
    WAYLAND "1"
}
cursor {
    xcursor-theme "macOS"
    xcursor-size 28
    hide-when-typing
}
input {
    // Switch the mod keys around: use Alt normally, and Super inside a nested window.
    mod-key "Alt"
    mod-key-nested "Super"
    warp-mouse-to-focus
    keyboard {
        repeat-delay 200
        repeat-rate 34
    }
    touchpad {
        tap
        dwt
        dwtp
        drag-lock
        accel-speed 0.1
        accel-profile "flat"
        scroll-factor 0.1
        middle-emulation
    }
    mouse {
        accel-profile "flat"
        accel-speed 0
        scroll-factor 1
    }
}
layout {
    gaps 12
    background-color "transparent"
    tab-indicator {
        off
    }
    default-column-width {
        proportion 0.5
    }
    center-focused-column "never"
    preset-column-widths {
        proportion 0.5
        proportion 1.0
    }
    border {
        off
 // width 2
        // active-color "#79839c"
    }
    focus-ring {
        // off
        width 2
        // active-color "#79839c"
        active-gradient from="#79839c" to="#07080d" angle=180
    }
    shadow {
        on
        spread 1
        softness 0
        offset x=4 y=4
        draw-behind-window true
        color "#00000080"
        inactive-color "#00000080"
    }
}
workspace "1"
workspace "2"
workspace "3"
workspace "4"
window-rule {
    open-maximized true
    open-focused true
    clip-to-geometry true
    geometry-corner-radius 6
    draw-border-with-background false
}
// this is for tkinter with python native dialogs
window-rule {
    match app-id="TkFDialog"
    match app-id="Menu"
    default-column-width {
        proportion 0.4
    }
    default-window-height {
        fixed 400
    }
    open-floating true
    open-focused true
}
// I prefer these windows smaller
window-rule {
    match app-id="spotify"
    match app-id="zathura"
    match app-id="obsidian"
    match app-id="org.gnome.Nautilus"
    open-maximized false
    default-column-width {
        proportion 0.5
    }
}
window-rule {
    match app-id="GTK Application"
    border {
        off
    }
    focus-ring {
        off
    }
}
window-rule {
    match app-id="kitty"
    match app-id="alacritty"
    match app-id="neovide"
    match app-id="com.mitchellh.ghostty"
    match app-id="obsidian"
    open-on-workspace "1"
}
window-rule {
    match app-id="helium"
    match app-id="spotify"
    match app-id="zen-beta"
    match app-id="google-chrome"
    open-on-workspace "2"
}
window-rule {
    match app-id="vesktop"
    open-on-workspace "3"
}
window-rule {
    match app-id="^org\\.keepassxc\\.KeePassXC$"
    default-column-width {
        proportion 0.8
    }
    block-out-from "screencast"
    open-on-workspace "3"
    open-maximized false
}
window-rule {
    match app-id="xfreerdp"
    open-floating false
    open-focused true
    open-on-workspace "4"
}
window-rule {
    match app-id=".virt-manager-wrapped"
    open-on-workspace "4"
}
layer-rule {
    match namespace="notifications"
    block-out-from "screencast"
    opacity 0.9
}
// Put swww inside the overview backdrop.
layer-rule {
    match namespace="swww-daemon"
    place-within-backdrop true
}
binds {
    XF86AudioPlay allow-when-locked=true {
        spawn "playerctl" "play-pause"
    }
    XF86AudioNext allow-when-locked=true {
        spawn "playerctl" "next"
    }
    XF86AudioPrev allow-when-locked=true {
        spawn "playerctl" "previous"
    }
    XF86AudioMicMute cooldown-ms=200 {
        spawn-sh "quickshell ipc call osd toggleMicMute"
    }
    Mod+XF86AudioRaiseVolume cooldown-ms=55 {
        spawn-sh "quickshell ipc call osd adjustMic '0.10+'"
    }
    Mod+XF86AudioLowerVolume cooldown-ms=55 {
        spawn-sh "quickshell ipc call osd adjustMic '0.10-'"
    }
    XF86AudioMute cooldown-ms=200 {
        spawn-sh "quickshell ipc call osd toggleMute"
    }
    XF86AudioRaiseVolume cooldown-ms=55 allow-when-locked=true {
        spawn-sh "quickshell ipc call osd adjustVolume '0.05+'"
    }
    XF86AudioLowerVolume cooldown-ms=55 allow-when-locked=true {
        spawn-sh "quickshell ipc call osd adjustVolume '0.05-'"
    }
    XF86MonBrightnessUp {
        spawn-sh "quickshell ipc call osd adjustBrightness '+5%'"
    }
    XF86MonBrightnessDown {
        spawn-sh "quickshell ipc call osd adjustBrightness '5%-'"
    }
    XF86KbdBrightnessUp {
        spawn-sh "quickshell ipc call osd adjustKbdBrightness '+33%'"
    }
    XF86KbdBrightnessDown {
        spawn-sh "quickshell ipc call osd adjustKbdBrightness '33%-'"
    }
    Mod+U repeat=false allow-inhibiting=false {
        spawn-sh "notify-send -a \"Satty\" \"Taking screenshot...\" && grim - | satty -f -"
    }
    Mod+Super+U {
        spawn-sh "quickshell ipc call recorder toggle"
    }
    Mod+Shift+U allow-inhibiting=false {
        screenshot-window
    }
    Mod+Space repeat=false {
        spawn "~/Vault/personal/dotfiles/.config/rofi/launch-rofi.sh"
    }
    Mod+Super+L repeat=false {
        spawn "hyprlock"
    }
    Mod+Return repeat=false {
        spawn "alacritty"
    }
    Mod+Q {
        close-window
    }
    Mod+Shift+Slash {
        show-hotkey-overlay
    }
    Mod+Ctrl+G {
        toggle-window-floating
    }
    Mod+G {
        switch-focus-between-floating-and-tiling
    }
    Mod+Ctrl+S {
        reset-window-height
    }
    Mod+S {
        switch-preset-column-width
    }
    Mod+H allow-inhibiting=false {
        focus-column-left
    }
    Mod+J allow-inhibiting=false {
        focus-window-down
    }
    Mod+K allow-inhibiting=false {
        focus-window-up
    }
    Mod+L allow-inhibiting=false {
        focus-column-right
    }
    Mod+Shift+H {
        move-column-left
    }
    Mod+Shift+J {
        move-window-down
    }
    Mod+Shift+K {
        move-window-up
    }
    Mod+Shift+L {
        move-column-right
    }
    Mod+1 allow-inhibiting=false {
        focus-workspace 1
    }
    Mod+2 allow-inhibiting=false {
        focus-workspace 2
    }
    Mod+3 allow-inhibiting=false {
        focus-workspace 3
    }
    Mod+4 allow-inhibiting=false {
        focus-workspace 4
    }
    Mod+5 allow-inhibiting=false {
        focus-workspace 5
    }
    Mod+Shift+1 {
        move-column-to-workspace 1
    }
    Mod+Shift+2 {
        move-column-to-workspace 2
    }
    Mod+Shift+3 {
        move-column-to-workspace 3
    }
    Mod+Shift+4 {
        move-column-to-workspace 4
    }
    Mod+Shift+5 {
        move-column-to-workspace 5
    }
    Mod+WheelScrollDown {
        focus-workspace-down
    }
    Mod+WheelScrollUp {
        focus-workspace-up
    }
    Mod+Shift+WheelScrollDown {
        focus-column-right
    }
    Mod+Shift+WheelScrollUp {
        focus-column-left
    }
    Mod+BracketLeft {
        consume-or-expel-window-left
    }
    Mod+BracketRight {
        consume-or-expel-window-right
    }
    Mod+Shift+BracketLeft {
        consume-window-into-column
    }
    Mod+Shift+BracketRight {
        expel-window-from-column
    }
    Mod+Minus {
        set-column-width "-10%"
    }
    Mod+Equal {
        set-column-width "+10%"
    }
    Mod+Shift+Minus {
        set-window-height "-10%"
    }
    Mod+Shift+Equal {
        set-window-height "+10%"
    }
    Mod+F11 allow-inhibiting=false {
        fullscreen-window
    }
    Mod+Escape allow-inhibiting=false {
        toggle-keyboard-shortcuts-inhibit
    }
}
animations {
    slowdown 0.8
    workspace-switch {
        // off
        spring damping-ratio=1.0 stiffness=1000 epsilon=1e-5
    }
    horizontal-view-movement {
        // off
        spring damping-ratio=1.0 stiffness=1500 epsilon=1e-5
    }
}

