spawn-at-startup "keyd-application-mapper"
spawn-at-startup "xwayland-satellite"
spawn-at-startup "swww-daemon"

// no decorations
prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

hotkey-overlay {
    skip-at-startup
}

environment {
    DISPLAY ":0"
    WAYLAND "1"
}

cursor {
    xcursor-theme "macOS"
    xcursor-size 24
    hide-when-typing
}

input {
    warp-mouse-to-focus

    keyboard {
        repeat-delay 200
        repeat-rate 34
    }

    touchpad {
        tap
        // off
        dwt
        dwtp
        // drag false
        drag-lock
        natural-scroll
        accel-speed 0.1
        accel-profile "flat"
        scroll-factor 0.1
        middle-emulation
    }

    mouse {
        accel-profile "flat"
        // natural-scroll
        // accel-speed 0.2
        // scroll-method "no-scroll"
    }
}

output "eDP-1" {
    scale 1.6
}

layout {
    gaps 8
    tab-indicator {
        off
    }

    center-focused-column "never"
    preset-column-widths {
        proportion 0.5
        proportion 0.8
        proportion 1.0

    }

    default-column-width { proportion 0.5; }
    // If you leave the brackets empty, the windows themselves will decide their initial width.
    // default-column-width {}

    focus-ring {
        off
    }

    border {
        width 1
        active-gradient from="#000000" to="#808080" angle=180 relative-to="workspace-view"
        inactive-gradient from="#000000" to="#101010" angle=100 relative-to="workspace-view"
    }

    shadow {
        on
        // draw-behind-window true

        softness 10
        spread 0
        offset x=0 y=4
        color "#404040"
    }
}

window-rule {
    open-maximized true
}

// window-rule {
//     match app-id=r#"firefox$"# title="^Picture-in-Picture$"
//     open-floating true
// }

window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    block-out-from "screen-capture"
}

window-rule {
    geometry-corner-radius 6
    clip-to-geometry true
}

binds {
    XF86AudioPlay        allow-when-locked=true { spawn "playerctl" "play-pause"; }
    XF86AudioNext        allow-when-locked=true { spawn "playerctl" "next"; }
    XF86AudioPrev        allow-when-locked=true { spawn "playerctl" "previous"; }

    XF86AudioRaiseVolume cooldown-ms=55 allow-when-locked=true { spawn "~/scripts/volume/vol_up.sh"; }
    XF86AudioLowerVolume cooldown-ms=55 allow-when-locked=true { spawn "~/scripts/volume/vol_down.sh"; }
    // XF86AudioLowerVolume repeat=false allow-when-locked=true { spawn "sh" "-c" "mpv $HOME/scripts/volume/vol_sound.wav"; }

    XF86AudioMute    cooldown-ms=200 { spawn "~/scripts/volume/vol_mute.sh"; }
    XF86AudioMicMute cooldown-ms=200 { spawn "~/scripts/volume/mic_mute.sh"; }

    XF86MonBrightnessUp   { spawn "~/scripts/brightness/scr_brightness_up.sh"; }
    XF86MonBrightnessDown { spawn "~/scripts/brightness/scr_brightness_down.sh"; }
    XF86KbdBrightnessUp   { spawn "~/scripts/brightness/kbd_brightness_up.sh"; }
    XF86KbdBrightnessDown { spawn "~/scripts/brightness/kbd_brightness_down.sh"; }

    Alt+Q { close-window; }
    Alt+Return { spawn "kitty"; }
    Alt+Space { spawn "bash" "-c" "rofi -show drun"; }
    Alt+Shift+Slash { show-hotkey-overlay; }

    Alt+G           { toggle-window-floating; }
    Alt+Shift+G     { switch-focus-between-floating-and-tiling; }

    Alt+O           { switch-layout "next"; }
    Alt+Shift+O     { switch-layout "prev"; }

    Alt+S           { switch-preset-column-width; }
    Alt+Ctrl+S      { reset-window-height; }
    Alt+Shift+S     { switch-preset-window-height; }

    Alt+H     { focus-column-left; }
    Alt+J     { focus-window-down; }
    Alt+K     { focus-window-up; }
    Alt+L     { focus-column-right; }

    Alt+Shift+H     { move-column-left; }
    Alt+Shift+J     { move-window-down; }
    Alt+Shift+K     { move-window-up; }
    Alt+Shift+L     { move-column-right; }

    Alt+1 { focus-workspace 1; }
    Alt+2 { focus-workspace 2; }
    Alt+3 { focus-workspace 3; }
    Alt+4 { focus-workspace 4; }
    Alt+5 { focus-workspace 5; }

    Alt+Shift+1 { move-column-to-workspace 1; }
    Alt+Shift+2 { move-column-to-workspace 2; }
    Alt+Shift+3 { move-column-to-workspace 3; }
    Alt+Shift+4 { move-column-to-workspace 4; }
    Alt+Shift+5 { move-column-to-workspace 5; }

    Alt+Shift+Page_Down { move-workspace-down; }
    Alt+Shift+Page_Up   { move-workspace-up; }
    Alt+Shift+U         { move-workspace-down; }
    Alt+Shift+I         { move-workspace-up; }

    Alt+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Alt+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }

    Alt+WheelScrollRight      { focus-column-right; }
    Alt+WheelScrollLeft       { focus-column-left; }
    Alt+Ctrl+WheelScrollRight { move-column-right; }
    Alt+Ctrl+WheelScrollLeft  { move-column-left; }

    Alt+Shift+WheelScrollDown      { focus-column-right; }
    Alt+Shift+WheelScrollUp        { focus-column-left; }

    Alt+BracketLeft  { consume-or-expel-window-left; }
    Alt+BracketRight { consume-or-expel-window-right; }

    Alt+Comma  { consume-window-into-column; }
    Alt+Period { expel-window-from-column; }

    Alt+Minus       { set-column-width "-10%"; }
    Alt+Equal       { set-column-width "+10%"; }
    Alt+Shift+Minus { set-window-height "-10%"; }
    Alt+Shift+Equal { set-window-height "+10%"; }

    Alt+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
    Alt+Shift+P { power-off-monitors; }

    Alt+Print   { screenshot-window; }
    Ctrl+Print  { screenshot-screen; }
    Print       { screenshot; }
}

animations {
    slowdown 0.8
}
