[init]
	defaultBranch = "main"

[core]
  pager = delta
  editor = bob run nightly

[interactive]
  diffFilter = delta --color-only

[include]
    path = ~/.gitconfig.delta

[delta]
  features = general
  max-line-length = 0
  diff-so-fancy = true
  line-numbers = true
  navigate = true

[user]
  name = "and-rs"
  email = "deserd@protonmail.com"

[credential "https://github.com"]
	useHttpPath = true
	helper = !/usr/bin/env gh auth git-credential

[credential "https://gist.github.com"]
	helper = !/usr/bin/env gh auth git-credential

[credential "https://gitlab.com"]
	helper = !/usr/bin/env glab auth git-credential

[includeIf "gitdir:~/Work/"]
    path = ~/.gitconfig.work
